<rp-load [status]="loading"></rp-load>
<!-- <rp-grid-filter [filters]="filters"></rp-grid-filter> -->
<rp-data-table [columns]="columns" [data]="data" [actions]="actions" (deleteRegister)="delete($event)"></rp-data-table>

