<rp-load [status]="loading"></rp-load>
<form class="form-add" (ngSubmit)="onSubmit()" [formGroup]="formulario">
  <input *ngIf="edit" type="hidden" formControlName="id">
  <div class="row rowRequiredField">
    <div class="col-12">
      <em>* campo obrigatório</em>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="form-group">
        <label for="name">Nome:<abbr title="campo obrigatório">*</abbr></label>
        <input id="name" formControlName="name" type="text" class="form-control">
        <div class="msgErro" *ngIf="!er_name.pristine && er_name.errors || submitForm && er_name.errors">
          <p *ngIf="er_name.errors.required"> O Nome é obrigatório.</p>
          <p *ngIf="er_name.errors.minlength">O Nome deve ter no mínimo 3 caracteres.</p>
          <p *ngIf="er_name.errors.maxlength">O Nome deve ter no máximo 80 caracteres.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 line-btn">
      <rp-btn-back></rp-btn-back>
      <button type="reset" class="btn btn-primary btn-clean" title="limpar" (click)="clearForm()"><i class="fas fa-eraser mr-1"></i> limpar</button>
      <button type="submit" *ngIf="!edit" class="btn btn-success float-right btn-register" title="cadastrar"><i class="fas fa-save mr-1"></i> cadastrar</button>
      <button type="submit" *ngIf="edit" class="btn btn-success float-right btn-register" title="atualizar"><i class="fas fa-save mr-1"></i> atualizar
      </button>
    </div>
  </div>
</form>
