<div class="row no-gutters">
	<div class="col-12">
		<h3 class="title-page"><i class="{{ icon }}"></i>{{ pageTitle }}</h3>
	</div>
</div>

<div class="row no-gutters">	
	<div class="col-md-12 all-table">		
		<router-outlet></router-outlet>
	</div>
</div>