@import '../../variables.scss';

.title-page {
    background: $color-blue-dark;
    color: #FFF;
    padding: .8rem 1rem;
    margin: 0;
    border-radius: 3px 3px 0 0;
    text-transform: uppercase;
    font-size: 1.3rem;
}
i.fas {
    font-size: 1rem;
    padding-right: .5rem;
    position: relative;
    bottom: 2px;
}
.all-table {
    background: #FFF;
    padding-top: 1rem;
    border-top: none;
    box-shadow: 0px 10px 10px 3px #c3c3c3;
    border-radius: 0 0 3px 3px;
    margin-bottom: 6rem;
}

@media (max-width: 425px) {
    .title-page {
        padding: 0.8rem .7rem;
        font-size: 1.2rem;
        border-radius: 0;
    }
    i.fas {
        font-size: .85rem;
    }
}

@media (max-width: 320px) {
    .title-page {
        font-size: 1rem;
    }
    i.fas {
        font-size: .7rem;
    }
}