<div style="padding: 15px;" *ngIf="displayFilters">
  <form>
    <div class="container-fluid" style="border: 1px solid #c9c9c9; border-radius: 3px; padding-top: 15px; padding-bottom: 15px;">
      <h4>Filtro</h4>
      <hr style="margin-bottom: 5px; margin-top: 5px;">
      <div class="row">

        <div class="col-md-3 col-12">
          <div class="form-group">
            <label class="text-sm-left">
              Text Field
            </label>
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>

        <div class="col-md-3 col-12">
          <div class="form-group">
            <label class="text-sm-left">
              Select Field
            </label>
            <select class="form-control form-control-sm">
              <option value="">Selecione</option>
              <option value="1">Opção 1</option>
            </select>
          </div>
        </div>

        <div class="col-md-3 col-12">
          <div class="form-group">
            <div>
              <label class="text-sm-left">
                Radio Field
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value="1" name="a">
              <label class="form-check-label">
                Valor 1
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value="2" name="a">
              <label class="form-check-label">
                Valor 2
              </label>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-12">
          <div class="form-group">
            <div>
              <label class="text-sm-left">
                Checkbox Field
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="1" name="c">
              <label class="form-check-label">
                Valor 1
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" value="2" name="c">
              <label class="form-check-label">
                Valor 2
              </label>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-12">
          <div class="form-group">
            <label>Data Field</label>
            <input class="form-control" [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
            <owl-date-time #dt></owl-date-time>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col d-none d-sm-none d-md-block"></div>
        <div class="col d-none d-sm-none d-md-block"></div>
        <div class="col d-none d-sm-none d-md-block"></div>
        <div class="col">
          <button class="btn btn-sm btn-success btn-block" type="submit">Filtrar</button>
        </div>
      </div>
    </div>
  </form>
</div>
