/**********************************************/
/* CSS Imports */
/**********************************************/
@import '../../variables.scss';


.navbar {
    background: $color-blue-dark !important;
    color: #FFF;
    border-bottom: 2px solid $color-orange-dark;
    justify-content: space-between;
}
.navbar-brand {
    margin-right: 0;
}
.navbar-brand img {
    position: relative;
    bottom: 3px;    
}
.navbar .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.navbar .right ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
}
.btnExit {
    border: none;
    color: #FFF;
    padding: 0 0 0 .75rem
}
.btnExit:hover,
.btnExit:focus,
.btnExit:active {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.navbar .right p {
    margin: 0;
    font-size: .7rem;
}
.btMobile,
#navMenuMobile {
    display: none;
}
.navMenuDesktop {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}
.mcd-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: $color-blue-medium;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: flex;
}
.mcd-menu li {
  position: relative;
  flex-grow: 1;
}
.mcd-menu li a {
  display: block;
  text-decoration: none;
  padding: 11px 20px 10px 20px;
  text-align: center;
  color: #FFF;
  border-right: 1px solid #E7E7E7;
}
.mcd-menu li a i {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}
.mcd-menu li a strong {
  display: block;
  text-transform: uppercase;
}
.mcd-menu li a small {
  display: block;
  font-size: 10px;
}
.mcd-menu li a i, 
.mcd-menu li a strong, 
.mcd-menu li a small {
  position: relative;  
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}
.mcd-menu li:hover > a i {
    opacity: 1;
    -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
    -o-animation: moveFromTop 300ms ease-in-out;
    animation: moveFromTop 300ms ease-in-out;
}
.mcd-menu li:hover a strong {
    opacity: 1;
    -webkit-animation: moveFromLeft 300ms ease-in-out;
    -moz-animation: moveFromLeft 300ms ease-in-out;
    -ms-animation: moveFromLeft 300ms ease-in-out;
    -o-animation: moveFromLeft 300ms ease-in-out;
    animation: moveFromLeft 300ms ease-in-out;
}
.mcd-menu li:hover a small {
    opacity: 1;
    -webkit-animation: moveFromRight 300ms ease-in-out;
    -moz-animation: moveFromRight 300ms ease-in-out;
    -ms-animation: moveFromRight 300ms ease-in-out;
    -o-animation: moveFromRight 300ms ease-in-out;
    animation: moveFromRight 300ms ease-in-out;
}
.mcd-menu li:hover > a {
  color: $color-oragen-medium;
}
.mcd-menu li a.active {
  position: relative;
  color: $color-oragen-medium;
  border:0;
  border-top: 4px solid $color-oragen-medium;
  border-bottom: 4px solid $color-oragen-medium;
  margin-top: -4px;
  padding-bottom: 6px;
  box-shadow: 0px 0px 6px 3px #304d6b;
  -moz-box-shadow: 0px 0px 6px 3px #304d6b;
  -webkit-box-shadow: 0px 0px 6px 3px #304d6b;
}
.mcd-menu li a.active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 45%;
  border-top: 5px solid $color-oragen-medium;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
        -moz-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@-webkit-keyframes moveFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@-webkit-keyframes moveFromRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
        transform: translateX(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}
.mcd-menu li ul {
  position: absolute;
  height: auto;
  min-width: 200px;
  padding: 0;
  margin: 0;
  background: $color-blue-medium;
  border-top: 4px solid $color-oragen-medium;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  top: 130px;
  z-index: 1000;
  list-style: none;
}
.mcd-menu li ul:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 5%;
  border-bottom: 5px solid $color-oragen-medium;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.mcd-menu li:hover > ul,
.mcd-menu li ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 100px;
}
.mcd-menu li ul li a {
  padding: 10px;
  text-align: left;
  border: 0;
  border-bottom: 1px solid #EEE;
}
.mcd-menu li ul li a i {
  font-size: 16px;
  display: inline-block;
  margin: 0 10px 0 0;
}
.mcd-menu li ul li ul {
  left: 230px;
  top: 0;
  border: 0;
  border-left: 4px solid $color-oragen-medium;
}  
.mcd-menu li ul li ul:before {
  content: "";
  position: absolute;
  top: 18px;
  left: -14px;
  border-right: 5px solid $color-oragen-medium;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}
.mcd-menu li ul li:hover > ul {
  top: 0px;
  left: 200px;
}

@media (max-width: 1280px) {
    .mcd-menu li strong {
        font-size: .9rem;
    }
}

@media (max-width: 1152px) {
    .mcd-menu li strong {
        font-size: .8rem;
    }
}

@media (max-width: 1024px) {
    .mcd-menu li strong {
        font-size: .6rem;
    }

    #navbar .right,
    .navMenuDesktop {
      display: none;
    }
    #btMobile {
      display: block;
      color: #ffffff;
      width: 2rem;
      border-top: 2px solid #fff;
      cursor: pointer;
      position: relative;
    }
    #btMobile::before, 
    #btMobile::after {
      content: "";
      display: block;
      height: 2px;
      margin-top: 7px;
      background: currentColor;
      position: relative;
      transition: transform 0.3s ease;
    }
    #btMobile.active {
      border-top-color: transparent;
      z-index: 3;
      position: fixed;
      right: 15px
    }
    #btMobile.active::before {
      margin-top: 0px;
      top: 0;
      transform: rotate(42deg);
    }
    #btMobile.active::after {
      margin-top: 0px;
      bottom: 2.5px;
      transform: rotate(-42deg);
    }
    #navMenuMobile {
      display: flex;
      right: -100rem;
      top: 0;
      z-index: 2;
      width: 50%;
      height: 100%;
      position: fixed;
      flex-direction: column;
      background: $color-blue-dark;
      border-left: 2px solid $color-orange-dark;
      transition: all 0.4s ease;
    }
    #navMenuMobile.active {
      right: 0;
      box-shadow: 10px -6px 10px 10px #304d6b;
      -moz-box-shadow: 10px -6px 10px 10px #304d6b;
      -webkit-box-shadow: 10px -6px 10px 10px #304d6b;
      position: absolute;
      display: block;
      height: auto;
      // min-height: 500px;
    }
    #navMenuMobile li {
      border-bottom: 1px solid rgb(255, 255, 255, .2);
      width: 100%;
      flex-grow: initial;
    }
    #navMenuMobile li:last-child {
      border: none;
    }
    #navMenuMobile li.loginData {
      background: $color-orange-dark;
      border: none;
      padding: .3rem 0 .3rem 1rem;
    }
    #navMenuMobile li.exit {
      // position: absolute;
      // bottom: 0;
    }
    #navMenuMobile li.exit button {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      margin: 0;
      padding: 0 1rem 0 0;
      width: 100%;
      background: $color-orange-dark;
      border-radius: 0;
      border: none;
    }
    .navMenuMobile li small {
      position: relative;
      bottom: 3px;
      font-size: 70%;
    }
    #navMenuMobile li a {
      display: flex;
      align-items: center;
      transition: 0.3s ease-out;
      border: none;
      position: relative;
    }
    #navMenuMobile li a.active {
      box-shadow: none;
      margin-top: 0;
      padding-bottom: 10px;
      color: $color-orange-dark;
    }
    #navMenuMobile li a.active::before {
      border-top: 5px solid $color-orange-dark;
    }
    #navMenuMobile li a i {
      margin-bottom: 0;
      margin-right: 1rem;
      font-size: 18px;
    }    
    .navMenuMobile li a strong {
      font-size: 14px;
      font-weight: 500;
    }
    .navMenuMobile li a small {
      display: none;
    }
    #navMenuMobile .btnExit i {
      margin-left: .5rem;
      position: relative;
      top: 1px;
    }
    #navMenuMobile li ul {
      position: relative;
      top: 2px;
      opacity: 1;
      visibility: visible;
      padding-left: 20px;
      border-top: none;
    }
    #navMenuMobile li ul::before {
      border: none;
    }
    #navMenuMobile li ul li a {
      padding: 7px;
    }
    .mcd-menu li ul li ul,
    .mcd-menu li ul li:hover ul {
      left: 0;
      border-left: none;
    }
    .dropdown {
      height: 2.8rem;
      overflow: hidden;
    }
    .dropdown .dropdown.active,
    .dropdown.active {
      height: auto;
    }
    .dropdown .dropdown {
      height: 2.5rem;
    }
    .dropdown a small {
      display: block !important;
      position: absolute !important;
      width: 0; 
      height: 0; 
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #FFF;
      text-indent: -9000px;
      right: 1rem;
      bottom: 1rem;
    }
    .dropdown.active a small {
      transform: rotate(-180deg);
    }
}

@media (max-width: 425px) {
  #navMenuMobile {
    width: 90%;
  }
}

@media (max-width: 375px) {
    .navbar-brand img {
        width: 140px;
    }
    .navbar-nav li {
        font-size: 0.8rem;
    }
    
    #navMenuMobile {
      width: 100%;
    }
}