<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a id="navbar-brand" class="navbar-brand" href="#">
    <img src="assets/img/logoRedePos.png" alt="redepos" width="180">
  </a>

  <span id="btMobile" class="btMobile" (click)="active = !active" [class.active]="active"></span>
  <ul id="navMenuMobile" class="navMenuMobile mcd-menu" [class.active]="active">
    <li class="loginData">Olá, usuário<br><small>{{dateTime}}</small></li>
    <li *ngFor="let m of menu; let i = index" [ngClass]="{'dropdown': m.dropdown}" [class.active]="m.dropdown && m.dropdownActive" >
      <a routerLink="{{ m.link }}" routerLinkActive="active" (click)="m.dropdownActive = !m.dropdownActive">
        <i class="{{ m.classIcon }}"></i>
        <strong>{{ m.label }}</strong>
        <small>{{ m.label }}</small>
      </a>
      <ul *ngIf="m.dropdown">
        <li *ngFor="let submenu of m.dropdown" [ngClass]="{'dropdown': submenu.dropdown}" [class.active]="submenu.dropdown && submenu.dropdownActive">
          <a routerLink="{{ submenu.link }}" (click)="submenu.dropdownActive = !submenu.dropdownActive"><i class="{{ submenu.classIcon }}"></i>{{ submenu.label }}</a>
          <ul *ngIf="submenu.dropdown">
            <li *ngFor="let subniveis of submenu.dropdown" >
              <a routerLink="{{ subniveis.link }}"><i class="{{ subniveis.classIcon }}"></i>{{ subniveis.label }}</a>
            </li>                
          </ul>
        </li>
      </ul>
    </li>
    <li class="exit">
      <button class="btn btn-outline-primary btnExit" (click)="logOut()" title="sair">Sair
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </li>
  </ul>

  <div class="right">
    <ul>
      <li>Olá, {{userLogado}}</li>
      <li>
        <button class="btn btn-outline-primary btnExit" (click)="logOut()" title="sair">
          <i class="fas fa-sign-out-alt"></i>
        </button>
      </li>
    </ul>
    <p>{{dateTime}}</p>
  </div>
</nav>

<div class="navMenuDesktop">
  <nav>
    <ul class="mcd-menu">
      <li *ngFor="let m of menu; let i = index" [class.dropdown]="m.dropdown">
        <a routerLink="{{ m.link }}" routerLinkActive="active">
          <i class="{{ m.classIcon }}"></i>
          <strong>{{ m.label }}</strong>
          <small>{{ m.label }}</small>
        </a>
        <ul *ngIf="m.dropdown">          
            <li *ngFor="let submenu of m.dropdown">
              <a routerLink="{{ submenu.link }}"><i class="{{ submenu.classIcon }}"></i>{{ submenu.label }}</a>
              <ul *ngIf="submenu.dropdown">
                <li *ngFor="let subniveis of submenu.dropdown">
                  <a routerLink="{{ subniveis.link }}"><i class="{{ subniveis.classIcon }}"></i>{{ subniveis.label }}</a>
                </li>                
              </ul>
            </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>