#loading{
  width:100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, .9);
  top:0;
  left:0;
  z-index: 999;
  background-image: url(../../assets/img/XOsX.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85px;
}
p {
  padding-top:120px;
}