@import '../../variables.scss';

.table-list {
    width: 98%;
    margin: 0 auto 1rem auto;
}
.table-list th {
    background-color: $color-blue-medium;
    border: 1px solid $color-white-bluish;
    white-space: nowrap;
}
.table-list td {
    vertical-align: middle;
    padding: .6rem;
    white-space: nowrap;
}
.table-list .th-acoes {
    width: 126px;
}
.table-list .td-acoes {
    width: 126px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-left: none;
    border-bottom: none;
    padding: 0.7rem 0.6rem;
}
tr:first-child .td-acoes {
    border-top: none;
}
tr:last-child .td-acoes {
    border-bottom: 1px solid $color-white-bluish;
}
.table.no-data {
    margin-top: -17px;
    border-top: none;   
}
.table.no-data span {
    padding: 1rem;
}

@media (max-width: 768px) {
    .row-btn-addNew {
        width: 97%;
        margin: 0 auto;
    }
    .row-btn-addNew .col-12 {
        width: 100%;
        max-width: 100%;
    }
    .table-responsive {
        width: 97%;
        margin: 0 auto;
    }
    .table-list {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .table-list td {
        padding: .3rem .5rem;
    }
    .table-list td.td-acoes {
        padding: .5rem;
    }
    .table-list th {
        padding: .5rem .75rem;
    }
}

@media (max-width: 375px) {
    .td-acoes button {
        padding: .2rem .6rem
    }
}