<div class="row no-gutters row-btn-addNew">
    <div class="col-12">
        <button class="btn btn-primary mb-2 float-right btn-addNew" *ngIf="actions.indexOf('create') != -1" routerLink="./form" title="aicionar novo"><i class="fas fa-plus mr-1"></i> adicionar novo</button>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-12">
        <div class="table-responsive" >
            <table class="table table-bordered table-hover table-list">
                <thead class="thead-dark">
                    <tr>
                        <th *ngFor="let col of columns">{{col.label}}</th>
                        <th *ngIf="actions.length > 0" class="th-acoes">Ações</th>
                    </tr>
                </thead>
                <tbody *ngIf="data.length > 0">
                    <tr *ngFor="let d of data">
                        <td *ngFor="let col of columns">{{d[col.data]}}</td>
                        <td *ngIf="actions.length > 0" class="text-right td-acoes">
                            <button class="btn btn-primary-clear btn-primary-clear-mobile" *ngIf="actions.indexOf('edit') != -1" title="editar registro" data-toggle="tooltip" data-placement="top" routerLink="./edit/{{d[editId]}}">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-danger-mobile" *ngIf="actions.indexOf('delete') != -1" title="excluir registro" data-toggle="tooltip" data-placement="top" (click)="delete(d[deleteId])">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>                
                </tbody>
            </table>
        </div>
        
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-list no-data" *ngIf="data.length === 0">
                <tbody>
                    <tr>
                        <td><span  class="text-center d-block">Sem dados para mostrar no momento...</span></td>
                    </tr>
                </tbody>    
            </table>
        </div>
    </div>
</div>
