@import '../node_modules/ngx-toastr/toastr.css';
@import 'variables.scss';

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background: $color-body;
}

// HABILITAR ESTE CÓDIGO EM CASO DE EXISTIR TÍTULO 
// NAS PAÁGINAS DE CADASTRO DOS SISTEMAS
//
// span.title-balls {
//     width: 5px;
//     height: 5px;
//     background-color: $color-orange-dark;
//     display: block;
//     border-radius: 100%;
//     position: absolute;
//     top: .5rem;
// }
// span.title-balls::before {
//     content: "";
//     background-color: $color-orange-dark;
//     bottom: .5rem;
//     position: absolute;
//     display: block;
//     height: 5px;
//     width: 5px;
//     border-radius: 100%;
// }
// span.title-balls::after {
//     content: "";
//     background-color: $color-orange-dark;
//     top: .5rem;
//     position: absolute;
//     display: block;
//     height: 5px;
//     width: 5px;
//     border-radius: 100%;
// }

.all-table h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
}
.all-table i {
    font-size: 1rem;
}
.row-btn-addNew {
    width: 100%;
}
.row-btn-addNew .col-12 {
    width: 98%;
    max-width: 98%;
    margin: 0 auto;
}
.btn {
    border-radius: 2px;
    cursor: pointer;
}
.btn:focus {
    box-shadow: none;
}
.btn-primary {
    background-color: $color-btn-primary;
    border-color: $color-btn-primary;
}
.btn-primary:hover {
    background-color: $color-btn-primary-hover;
    border-color: $color-btn-primary-hover;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-addNew {
    font-size: .8rem;
    padding: .3rem;
}
.btn-primary-clear {
    background: $color-btn-primary-clear;
    border: 1px solid $color-btn-primary-clear;
    color: #FFF;
}
.btn-primary-clear:hover {
    background: $color-btn-primary-clear-hover;
    border: 1px solid $color-btn-primary-clear-hover;
    color: #FFF;
}
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: none;
}
.form-add,
.div-add {
    margin: 0 auto 1rem auto;
    padding: 0 1rem;
}
.rowRequiredField {
    position: relative;
    bottom: .5rem;
}
.rowRequiredField div {
    display: flex;
    justify-content: flex-end;
    font-size: .9rem;
    color: $color-red;
    font-weight: 600;
}
label {
    color: $color-blue-dark;
    font-weight: 600;
    margin: 0;
}
abbr {
    color: $color-red;
    font-weight: 800;
    text-decoration: none !important;
}
.text-danger {
    background: $color-red !important;
    color: #FFF !important;
    text-align: center;
    padding: .1rem;
    text-transform: lowercase;
    font-style: italic;
    font-weight: 600;
    border-radius: 2px;
    font-size: 0.9rem;
}
.form-control,
input {
    border-radius: 3px;
}
.form-control::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: $color-gray-light;
}
.form-control:-moz-placeholder,
input:-moz-placeholder {  /* Firefox 18- */
    color: $color-gray-light;  
 }  
 .form-control::-moz-placeholder,
 input::-moz-placeholder { /* Firefox 19+ */
    color: $color-gray-light;  
 }  
 .form-control:-ms-input-placeholder,
 input:-ms-input-placeholder {  
    color: $color-gray-light;  
 }
.form-control:focus {
    box-shadow: 0 0 0 1px rgb(245, 163, 111, 0.7);
    border-color: $color-orange-clear;
}
.table-list-internal th {
    background-color: $color-blue-medium !important;
    border: 1px solid $color-white-bluish !important;
    padding: .4rem .75rem;
    white-space: nowrap;
}
.table-list-internal td {
    padding: .3rem .6rem;
    vertical-align: middle;
    white-space: nowrap;
}
.table-list-internal button {
    font-size: .8rem;
    padding: .3rem .4rem;
    background: none;    
    text-decoration: underline;
    border: none;
}
.table-list-internal button:hover {
    background: none;
    border: none;
    text-decoration: underline;
}
.table-list-internal .btn-danger {    
    color: $color-red-pastel;    
}
.table-list-internal .btn-success {
    color: $color-green-success;
}
.form-control.ng-select {
    padding: 0;
}
.form-control.ng-select .ng-select-container {
    border: none !important;
    height: auto !important;
}
.form-odds button {
    width: 100%;
}
.card {
    border-radius: 0;
}
.card input[type=checkbox] {
    height: 1rem;
    width: 1rem;
    position: relative;    
}
.card-header {
    background: $color-blue-medium;    
    display: flex;
    align-items: center;
    position: relative;
    padding: .6rem 1.25rem;
    border: none;
}
.card-header:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.card-header input {
    top: 1px;
    margin-right: .7rem;        
}
.card-header label {
    color: #FFF;
    text-transform: uppercase;
}
.card-header button {
    position: absolute;
    right: 7px;
    color: #fff;
}
.card-body {
    padding: 0;
}
.card-body .list-group-item {
    border-left: 0 !important;
    border-right: 0 !important;
    color: $color-blue-dark;
}
.card-body .list-group-item:first-child {
    border-radius: 0;
}
.card-body input[type=checkbox] {
    top: 3px;
    margin-right: .5rem;        
}
.card-sendGame {
    padding: .75rem;
    border-top: none;
}
.box-rateGames .box-rateGamesInternal {
    background: $color-gray-light;
    border-radius: 2px;
    padding-top: .2rem;
    border: 1px solid $color-gray-light;
}
.box-rateGamesInternal span {
    color: $color-blue-dark;
    font-weight: 600;
    margin: 0.5rem;
}
.box-rateGamesInternal > div {
    background: $color-body;
    padding: .5rem;
    border-radius: 2px;
    margin-top: .2rem;
}
.box-rateGames .line-btn {
    display: flex;
    justify-content: space-between;
}
.box-rateGames .line-btn button {
    font-size: .8rem;
    padding: 0.3rem;
}
.modal-content {
    background: $color-body;
    border: none;
    border-radius: 0;
}
.modal-header {
    background: $color-blue-dark;
    border-bottom: 2px solid $color-orange-dark;
    border-radius: 0;
    color: #FFF;
    align-items: center;
}
.modal-header .close {
    margin: 0;
    padding: 0;
    font-size: initial;
    text-shadow: none;
    color: #FFF;
    opacity: 1;
    float: none;
}
.modal-header .close:hover {
    opacity: 1 !important;
}
.modal-header .close i {
    font-size: 1.25rem;
}
.msgErro {
	color: $color-red-erro;
    font-size: .8rem;
    font-weight: 600;
}
.toast-container .ngx-toastr {
    padding: 15px;
    box-shadow: none !important;
}
.toast-close-button:hover,
.toast-close-button:focus {
    color: #FFF;
    opacity: 1;
}
.toast-error {
    background: $color-red-erro;    
}
.toast-success {
    background: $color-green-success;    
}
.menu-tree {
    width: 98%;
    margin: 0 auto 1rem auto;
}
.menu-tree ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-tree ul li {
    padding-left: 1.5rem;
}
.menu-tree ul li span {
    cursor: pointer;
}
.menu-tree .all-ul > li {
    padding: 0;
}
.menu-tree .all-ul li .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem;
}
.menu-tree .all-ul li .title:hover {
    background: #c7d8e8;
    color: $color-blue-dark;
}
.menu-tree .all-ul > li > .title {
    padding: .7rem;
    background: $color-blue-medium;
    color: #FFF;
    border: 1px solid $color-blue-dark;
    border-top: none;
}
.menu-tree .all-ul > li:first-child {
    border-top: 1px solid $color-blue-dark;
}
.menu-tree .title .right {
    display: flex;
}
.menu-tree .all-ul > li > .title span i {
    margin-right: .4rem !important;
}
.menu-tree .all-ul > li > .title .btn-danger {
    margin-right: 0 !important;
}
.menu-tree .btn {
    border: none;
    background: #FFF;
    padding: 0 .7rem;
}
.menu-tree .btn-outline-info i {
    color: #17a2b8;
}
.menu-tree .btn-outline-primary-clear i {
    color: $color-btn-primary-clear;
}
.menu-tree .btn-outline-danger i {
    color: $color-red-pastel;
}
.menu-tree .all-ul > li > ul > li {
    border: 1px solid $color-blue-medium;
    padding-right: .7rem;
    border-top: none;
}

@media (max-width: 1199px) {
    .form-odds button {
        margin-top: 0 !important;
    }
}

@media (max-width: 1024px) {
    .menu-tree ul li {
        padding-left: 1rem;      
    }  
    .menu-tree .all-ul > li > ul > li {
        padding-left: .5rem;      
    }  
}

@media (min-width: 768px) and (max-width: 1199px) {
    .form-odds button {
       width: auto;
    }
}

@media (max-width: 768px) {
    .btn-primary-clear-mobile {
        color: $color-btn-primary-clear;
        background: none;
        border: none;
        padding: 0;
    }
    .btn-danger-mobile {
        color: $color-red-pastel;
        background: none;
        border: none;
        padding: 0;
    }
    .btn-primary-clear-mobile i,
    .btn-danger-mobile i {
        font-size: 1.5rem;
    }
    .menu-tree ul li {
        padding-left: .7rem;      
    }
}

@media (max-width: 575px) {
    .btn-load {
        width: 100%;
        margin-top: 0 !important;
        margin-bottom: 1.5rem;
    }
    #accordionGridSport .list-group-item {
        padding: 0.75rem 1rem;
    }    
}

@media (max-width: 425px) {
    .all-table h4 {
        font-size: 1.1rem;
    }
    .table-list-internal td {
        padding: .3rem .5rem;
    }  
    .form-control {
        height: auto;
        padding: .3rem .5rem
    }
    .form-control,
    input {
        border-radius: 2px;
    }
    .btn-back,
    .btn-clean,
    .btn-register,
    .btn-change,
    .btn-load,
    .btn-search {
        padding: .3rem .7rem;
    }
    .form-control.ng-select {
        padding: 0;
    }
    .card-header {
        padding: .8rem;
    }
    .card-header button {
        padding: .375rem .4rem;
    }
    .box-rateGames .form-control {
        padding: 0.2rem 0.5rem
      }
    .menu-tree ul li,
    .menu-tree .all-ul > li > ul > li {
        padding-left: .6rem; 
    }  
    .menu-tree .all-ul > li > ul > li {
        padding-right: .4rem;
    }
    .menu-tree .btn {
        padding: 0 .5rem
    }  
    .menu-tree .btn i {
        font-size: .8rem;
    }
    .btn-outline-primary {
        padding: .3rem;
        font-size: .8rem;
    }
}

@media (max-width: 375px) {
    .line-btn {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .btn-back {
        margin-right: 0 !important;
    }
    .card {
        font-size: .8rem;
    }    
}

@media (max-width: 320px) {
    body {
        font-size: .9rem;
    }
    .all-table h4 {
        font-size: 1rem;
    }
    .line-btn button,
    .line-btn button i {
        font-size: .8rem;
    }
}