/**********************************************/
/* CSS Colors */
/**********************************************/
$color-body: #f1ecec;

$color-blue-dark: #2C3E50;
$color-blue-medium: #4a6886;

$color-orange-dark: #f06710;
$color-oragen-medium: #f39255;
$color-orange-clear: #ea9f6f;

$color-red: #ff0000;
$color-red-erro: #d50000;
$color-red-pastel: #dc3545;

$color-gray-light: #979da2;

$color-white-bluish: #dee2e6;

$color-green-success: #28a745;

$color-btn-primary: #002861;
$color-btn-primary-hover: #033f94;
$color-btn-primary-clear: #0069d9;
$color-btn-primary-clear-hover: #0160c5;
