
<ul class="nav flex-column nav-pills">
    <li class="nav-item" *ngFor="let m of menu" >
        <a class="nav-link" routerLink="{{m.router}}" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">{{m.name}}</a>
    </li>
</ul>
